
.cardContainer{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.cardContainer ReturnBack {
    justify-content: flex-start;
}
.name{
    color:#383838;
    text-align: center;
    font-style:italic;
    margin: 0px;
}
.image {
    width: 100%;
    margin-bottom: 10px;
}
.statsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.numberContainer{
    position: relative;
    margin: 5px;
    background-color: #383838; ;
    height: 50px;
    border-radius: 8px;
}
.numberContainer h4{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    margin: 0px;
    left: 10px;
    color:#F5EEA9
}
.numberContainer div{
    position: absolute;
    right: 0px;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    color: #E5573E;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 170px;
}
.types{
    display: flex;
    justify-content: center;
}
.types div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5573E;
    border-radius: 8px;
    height: 30px;
    width: 120px;
    margin: 5px;
    font-weight: bold;
    font-style: italic;
    color:#F5EEA9;
}
@media (min-width:400px){
    .image{
        width: 400px;
        margin: auto;
    }
    
}

/*#F5EEA9    amarillo*/
/*#E5573E    rojo*/
/*#383838    gris*/