.navContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  background-color: #e5573e;
  padding: 15px;
  min-height: 90px;
}
.title{
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.title h1{
  color: #f5eea9;
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  flex-grow: 1;
}

/*MENU*/
.menu {
  cursor: pointer;
  list-style-type: none;
  font-size: 1em;
  font-weight: bold;
  padding: 0px;
  border-right: 1px solid #383838;
  padding-right: 15px;
}
.menu li{
  color: #383838;
}
.navContainer h2{
  color:#383838;
  font-style: italic;
  border-left: 2px solid #383838;
  padding-left: 15px;
}




