.title {
  color: #f5eea9;
  display: inline-block;
  font-weight: bold;
  font-size: 1.4em;
}
.navContainer {
  position: relative;
  background-color: #e5573e;
  justify-content: space-between;
  padding: 10px
}


/*MENU*/
.menu {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  list-style-type: none;
  font-size: 1em;
  font-weight: bold;
}
.menu li{
  display: inline;
  color: #383838;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px solid #383838;
}




