.filterBar{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#383838;
}
.filterBar label{
    color: #F5EEA9;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.filterBar p{
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: .85em;
}
.filterBar select{
    border-radius: .4em;
}


