.CardsContainer {
  width: 100%;
  height: 100%;
  background-color: #f5eea9;
}
.searchParameter {
  display: flex;
  justify-content: center;
  width: 100%;
}
.searchParameter h4 {
  margin: 0px;
}

