.card{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 220px;
    background-color: rgb(143, 163, 223);
    border: 1px solid;
    border-radius: 20px;
    margin: 5px;
}
.card h1 {
    background-color: rebeccapurple;
    color: white;
    margin: 10px;
}
.card h4{
    background-color: blueviolet;
    margin: 5px;
    color: white;
    padding: 4px;
}
.card img{
    width: 180px;
}
