.formContainer{
    display:  flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}
.formContainer input{
    height: 20px;
}
.button{
    width: 30px;
    height: 23px;
    margin: 0px;
    margin-right: 4px;
}
