.bodyFormContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%
}
.form{
    margin-top: 30px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5B357;
    padding: 10px;
    border-radius: 20px;
}
.form h1{
    margin: auto;
}
.nameContainer{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.formStatsContainer{
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
    color: #383838  ;
}

.statsColumnWidth{
    flex-grow: 1;
    flex-basis: 0;
}

.typesContainer{
    display: flex;
    margin: 10px;
}
.error{
    color: #F5B357 ;
}
.previewImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    background-color: black;
    color: darkgray;
}
.previewImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    background-color: black;
    color: darkgray;
}
.viewImage{
    width: 150px;
    height: 100px;
}
.errorStatusInput{
    display:flex;
    background-color:#E5573E ;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.correctStatusInput{
    display:flex;
    background-color: #F5EEA9   ;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.formTypes{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.formStatsContainer input{
    margin: 10px;
    width: 150px;
}
.imageBlock{
    display: flex;
}
.submitButton{
    width: 60px;
    margin: auto;
    margin-top: 15px;
}
.errorAncla{
    height:40px;
    padding: 5px;
}
.errorAncla h5 {
    margin: 0px;
    color: #383838;
}


/*#F5EEA9    amarillo*/
/*#E5573E    rojo*/
/*#383838    gris*/
/*#F5B357   naranja*/