.arrowContainer{
  width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  transform: scale(1.1);
}
.arrow, .arrow2{
  --width: 25px;
  position: absolute;
  width: 0px;
  border-right: var(--width) solid #383838;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.arrow2{
  position: absolute;
  border-right:var(--width) solid #f5eea9;
  transform: scale(0.7);
  transform: translateX(9px);
  transform-origin: right;
}
.stick{
  height: 4px;
  width: 100%;
  z-index: 1;
  transform: scaleX(.8);
  transform-origin: right;
  background-color:#383838;
}
