.returnBack {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}
.arrow {
  height: 50px;
  width: 50px;
  margin: 0px;
  transition: width 0.2s, height 0.2s;
}
.arrow:hover {
  width: 60px;
  height: 60px;
}
